/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/js
/public/mix-manifest.json
/public/developer/*/index.html
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
coverage.xml
/etc/dev.php.ini
