/*
 * Don't define CSS classes in this file (other than HTML elements).
 * Edit one of the files imported below, or create a new one and import it.
 */

/* Third-party libraries */
@import "fork-awesome";
@import "balloon-css";

/* Our files */
@import "buttons";
@import "forms";
@import "gallery";
@import "navbar";
@import "pagination";
@import "tags";
@import "utilities";

/* Initialize Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hover-overlay: hsla(0, 0%, 0%, 0.065);
  --active-overlay: hsla(0, 0%, 0%, 0.13);
}

body {
  background-color: #eff1f5;
  color: hsl(0, 0%, 20%);
}

img {
  /* Lower the `alt` texts' contrast rate */
  @apply text-gray-600;
}
