@tailwind base;
@tailwind components;

/*
 * Tailwind classes must be applied below.
 * See <https://tailwindcss.com/docs/extracting-components>.
 */

:root {
  --hover-overlay: hsla(0, 0%, 0%, 0.065);
  --active-overlay: hsla(0, 0%, 0%, 0.13);
}

.button {
  @apply px-3 py-2 rounded;

  &:hover {
    background-color: var(--hover-overlay);
  }

  &:active {
    background-color: var(--active-overlay);
  }
}

.button-success {
  @apply bg-green-500 text-white;

  &:hover {
    @apply bg-green-600;
  }

  &:active {
    @apply bg-green-700;
  }
}

.navbar-link {
  @apply block leading-none p-3;

  &:hover {
    background-color: var(--hover-overlay);
  }

  &:active {
    background-color: var(--active-overlay);
  }
}

/* Tailwind classes must be applied above */

@tailwind utilities;

body {
  background-color: #eff1f5;
  color: hsl(0, 0%, 20%);
}
