.navbar-link {
  @apply block rounded leading-none p-3;

  &:hover {
    background-color: var(--hover-overlay);
  }

  &:active {
    background-color: var(--active-overlay);
  }
}

.navbar-dropdown {
  position: relative;
}

.navbar-dropdown-content {
  @apply bg-white rounded shadow;

  display: none;
  position: absolute;
  z-index: 1;
}

@screen dark {
  .navbar-dropdown-content {
    @apply bg-gray-800;
  }
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}
